<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kalkulator</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>
            <span th:text="${X}">1</span> <span th:text="${operation}">+</span> <span th:text="${Y}">2</span> = <span th:text="${result}">3</span>
        </p>
    </body>
</html>
